.out-tab{
	background-color:teal;
	width:500px;
	margin:auto;
	margin-top:150px;
	padding:50px;
}
table {

  border-collapse: collapse; 
  width:500px;  
  color:white;
	}
td, th {
  text-align: left;
  padding: 10px;
}
tr:nth-child(even) {
  background-color:skyblue;
}
tr:nth-child(odd) {
  background-color:darkblue;
}
table button{
	background-color:teal;
	color:white;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}