.photo-exp{
	border-radius:120px;
	top: 50px;
   right: 100px;
   position:absolute;
   
   }
h2{
    color:teal;
	background-color:Thistle;
}
.address-exp{
	background-color:Thistle;
	padding:20px;
}
body{
	padding-left:60px;
	padding-right:60px;
}